version: "3.0"

services:
  tracker:
    image: z78_tracker
    container_name: z78_tracker
    build:
      context: .
      dockerfile: ./tracker/dockerfile
    tty: false
    environment:
      - PYTHONUNBUFFERED=1
    networks: [z78_network]

  peer1:
    image: z78_peer1
    container_name: z78_peer1
    build:
      context: .
      dockerfile: ./peer/dockerfile
    tty: false
    environment:
      - PEER_NAME=peer1
      - TRACKER_HOST=z78_tracker
      - TRACKER_PORT=9000
      - LISTEN_PORT=10001
      - DATA_DIR=/data
      - PYTHONUNBUFFERED=1
    volumes:
      - ./_data/peer1:/data
    networks: [z78_network]
    depends_on: [tracker]

  peer2:
    image: z78_peer2
    container_name: z78_peer2
    build:
      context: .
      dockerfile: ./peer/dockerfile
    tty: false
    environment:
      - PEER_NAME=peer2
      - TRACKER_HOST=z78_tracker
      - TRACKER_PORT=9000
      - LISTEN_PORT=10002
      - DATA_DIR=/data
      - PYTHONUNBUFFERED=1
    volumes:
      - ./_data/peer2:/data
    networks: [z78_network]
    depends_on: [tracker]

  peer3:
    image: z78_peer3
    container_name: z78_peer3
    build:
      context: .
      dockerfile: ./peer/dockerfile
    tty: false
    environment:
      - PEER_NAME=peer3
      - TRACKER_HOST=z78_tracker
      - TRACKER_PORT=9000
      - LISTEN_PORT=10003
      - DATA_DIR=/data
      - PYTHONUNBUFFERED=1
    volumes:
      - ./_data/peer3:/data
    networks: [z78_network]
    depends_on: [tracker]

networks:
  z78_network:
    external: true
